body {
    background-color: rgb(113, 121, 126);
  }
  
  h1 {
    color: rgb(54, 69, 79);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  h2 {
    color: rgb(163, 10, 10);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  h4 {
    color: rgb(54, 69, 79);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  h5 {
    color: rgb(54, 69, 79);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  p {
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;

  }
  .main-content p:first-child {
    color: rgb(229, 228, 226);
    font-size: 25px;
 }
  a {
    font-family: 'Montserrat', 'Futura';
    font-size: 20px;
    color: rgb( 192, 192, 192);
    text-align: center;
    font-weight: bold;
    background-color:rgb(54, 69, 79);
    padding: 20px;
  }
 .opos{
  background-color:rgb(129, 133, 137);
     padding: 10px;
 }
 .button:hover {
    color: rgb(137, 148, 153);
    font-style: italic;
}
